{% extends "::base.html.twig" %}

{% block title %}{% trans %} Фразы {% endtrans %}{% endblock %}

{% block body %}
    <nav class="navbar navbar-default">
        <div class="container container-fluid">
            <ul class="nav navbar-nav">
                <li><a  href="{{ path('app_basic_index') }}">{% trans %} Все фразы {% endtrans %}</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">{% trans %} Регистрация{% endtrans %}</a></li>
                <li><a href="{{ path('fos_user_security_login') }}">{% trans %} Авторизация {% endtrans %}</a></li>
                <li><a href="/logout">{% trans %} Выйти {% endtrans %}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('app_basic_setlocale', {'_locale' : 'en'}) }}">EN</a></li>
                <li><a href="{{ path('app_basic_setlocale', {'_locale' : 'ru'}) }}">RU</a></li>
            </ul>
        </div>
    </nav>
    {% block content %} {% endblock %}
{% endblock %}