{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
