{% extends "AppBundle::main.html.twig" %}

{% block title %}AppBundle:Phases:detail {% endblock %}
{% block content %}
    <div class="container">
            <h2>{% trans %}Перевод фразы на{% endtrans %}</h2>
            <table border="1" cellpadding="3" class="table">
                {% for key, locale in locales %}
                    {% if locale is not null %}
                        <tr class="caption">
                            <th>{{ key }}</th>
                            <td>{{ locale }}</td>
                        </tr>
                    {% else %}
                    {% endif %}

                {% endfor %}
            </table>
        {%  if is_granted('ROLE_USER') %}
        {{ form(forms) }}
        {% endif %}
    </div>
{% endblock %}



