{% extends "AppBundle::main.html.twig" %}

{% block title %}AppBundle:Basic:index{% endblock %}

{% block content %}
    <div class="container">
        <h1><b>{% trans %}Фразы на русском{% endtrans %}</b></h1>
        <table border="1" cellpadding="3" class="table">
            {% for phrase in phrases %}
                <tr>
                    <td>
                        <a href="{{ path('app_basic_detail', {'id' : phrase.id }) }}">{{ phrase.translate('ru').description }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {%  if is_granted('ROLE_USER') %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        {% endif %}

    </div>
{% endblock %}
