{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="container">
    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}

        <label for="username" class="col-sm-1">{{ 'security.login.username'|trans }}</label>
        <div class="col-sm-3">
            <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required"/>
        </div>

        <label for="password" class="col-sm-1">{{ 'security.login.password'|trans }}</label>
        <div class="col-sm-3">
            <input type="password" id="password" class="form-control" name="_password" required="required"/>
        </div>
        <input type="checkbox" id="remember_me"  name="_remember_me" value="on"/>
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

        <input class="btn" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
    </form>
</div>